.container-fluid{
    height: fit-content;
    /* font-size: 10px; */
    width: 100%;
}
.part-1{
    background-color: white;
    width: 100%;
    height: 30px;
    text-align: center;
}
.part-2{
    background-image: url(/image/man\ in\ suit.jpg);
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
    background-position: center; 
    /* width: 100%; */
}
.inner-1{
    padding-top: 100px;
}
#expand{
    font-size: 35px;
    font-weight: bold;
}
button{
    padding: 8px 40px 8px 36px;
    border: none;
    border-radius: 12px;
    background-color: rgba(38, 214, 185, 0.87);
    color: white;
}
#yellow{
    background-color: yellow;
    margin-left: 20px;
    color: black;
}
.part-3{
    display: flex;
    margin-top: 45px;
}
img{
    width: 100%;
    height: 100%;
}
.inner-4{
    height: 350px;
    width: 50%;
    margin-left: auto;
}
.inner-3{
    width: 40%;
    height: 350px;
    margin-left: 67px;
}
.part-4{
    text-align: center;
    margin-top: 10px; 
}
.colour{
    color: aqua;
}
.part-5{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px 20px;
    /* margin-left: 60px; */
    width: fit-content;
    margin: auto;
}
.inner-6, .inner-7, .inner-8, .inner-9{
    text-align: center;
    border: 1px solid black;
    height: 230px;
    
}
.inner-6{
    background-color: rgb(235, 235, 51);
}
.inner-9{
    background-color: rgba(38, 214, 185, 0.87);
}
.fa-sticky-note-o{
    
    margin-top: 30px;
}
.inner-8 i{
    font-size: 40px;
    margin-top: 30px;
}
.inner-6 i{
    font-size: 40px; 
    margin-top: 30px;
}
.inner-7 i{
    font-size: 40px;
    margin-top: 30px;
}
.inner-9 i{
    font-size: 40px;
    margin-top: 30px;
}
.last-fonts{
    width: 20%;
    height: 20px;
    margin-left: 600px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px 10px;
    margin-top: -220px;
}
.inner-10a{
    text-align: center;
    margin-top: 18px;
}
.inner-10{
    margin-top: 30px;
    margin-left: 48px;
}
footer{
    display: flex;
    background-color: rgb(3, 7, 22);
    height:400px ;
    color: white;
    margin-top: 20px;
}


@media(max-width:320px){
    .part-2{
        height: 200px;
        width: 100%;
    }
    #expand{
        font-size: 18px;
        font-weight: bold;
    }
    .inner-1{
        padding-top: 27px;
    }
    .part-3{
        display: block;
        margin-top: 20px;
    }
    .inner-3{
        width: 90%;
        height: 120px;
        margin-left: 20px;
    }
    .inner-4{
        margin-top: 300px;
        height: 350px;
        width: 100%;
       /* margin-left: auto; */
    }
    .inner-5{
        margin-top: 20px;
    }
    .part-5{
        display: block;
        /* grid-template-columns: auto auto ; */
        /* grid-gap: 20px 20px; */
        margin-left: 10px;
    }
    .inner-7{
        margin-top: 10px;
    }
    .inner-8{
        margin-top: 10px;
    }
    .inner-9{
        margin-top: 10px;
    }
    .last-fonts{
        width: 100%;
        height: 20px;
        margin-left: -13px;
        /* margin-right: 10px; */
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4px 6px;
        margin-top: 400px;
        align-self: center;
    }
    .click-me{
        margin-top: -10px;
    }
    footer{
        display: flex;
        background-color: rgb(3, 7, 22);
        height:650px ;
        color: white;
        margin-top: 20px;
    }

}
@media(max-width:375px){
    .container-fluid{
        width: fit-content;
    }
    .part-2{
        height: 350px;
        width: 100%;
    }  
    #expand{
        font-size: 18px;
        font-weight: bold;
    }
    .inner-1{
        padding-top: 35px;
    }
    .part-3{
        display: block;
        margin-top: 20px;
    }
    .inner-3{
        width: 90%;
        height: 120px;
        margin-left: 20px; 
    }
    .inner-4{
        margin-top: 300px;
        width: 100%;
    }
    .image1{
        margin-top: 20px;
    }
    .part-5{
        display: block;
        /* grid-template-columns: auto auto ; */
        /* grid-gap: 20px 20px; */
         margin-left: 40px;
         width: fit-content;
    }
    .inner-7{
        margin-top: 10px;
    }
    .inner-8{
        margin-top: 10px;
    }
    .inner-9{
        margin-top: 10px;
    }
    .last-fonts{
        width: 100%;
        height: 20px;
        margin-left: auto;
        
        /* margin-right: 10px; */
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4px 6px;
        margin-top: 40px;
        align-self: center;
    }
    .click-me{
        margin-top: -10px;
    }
    footer{
        display: flex;
        background-color: rgb(3, 7, 22);
        height:760px ;
        color: white;
        margin-top: 20px;
    }
    
}
@media(max-width:425px){
    .part-3{
        display: block;
    }
    .inner-3{
        width: 90%;
        height: 120px;
        margin-left: 20px; 
    }
    .inner-4{
        margin-top: 300px;
        width: 100%;
    }
    .part-5{
        display: block;
        /* grid-template-columns: auto auto ; */
        /* grid-gap: 20px 20px; */
         margin-left:  40px;
         width: 80%;
    }
    .inner-7{
        margin-top: 20px;
    }

    .inner-8{
    margin-top: 20px;
    }
    .inner-9{
    margin-top: 20px;
    }
    .last-fonts{
    width: 100%;
    height: 20px;
    margin-left: -13px;
    /* margin-right: 10px; */
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 4px 6px;
    margin-top: 40px;
    align-self: center;
    }
    footer{
    display: flex;
    background-color: rgb(3, 7, 22);
    height:750px ;
    color: white;
    margin-top: 20px;
    }
}
@media (max-width:768px) {
    .last-fonts{
        margin-right: 30px;
        width: 40%;
        
    }
    .inner-10{
        width: 40%;
    }
    footer{
        display: flex;
        width: 100%;
    }
    
}
@media(max-width:1024px){
    .last-fonts{
        margin-bottom: 10px;
    }
    
}